<!DOCTYPE html>
<html>
<head>
  <title>XPathTester</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <h1>XPath Tester</h1>
  <%= yield %>
</div>
</body>
</html>
