!!! 5
%html
  %head
    %title XPath Tester
    = stylesheet_link_tag 'youstrap-s.min', media: 'all'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'initial-scale=1'}
  %body
    .container
      %h1 XPath Tester
      = yield
